pyrofork==2.3.45
tgcrypto
umongo==3.1.0
marshmallow==3.22.0
motor==3.5.1
pymongo==4.8.0
git+https://github.com/Joelkb/cinemagoer
asyncio
aiohttp
marshmallow
beanie>=1.26.0
pillow
pyrotgfork[fast]
pymongo[srv]
prettytable
python-dotenv
requests
dnspython
wget
bs4
cinemagoer
heroku3
pynewtonmath
datetime
pytz
python-dateutil
schedule
apscheduler
aiofiles


Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1


fuzzywuzzy
wheel
python-Levenshtein
edge-tts
googletrans==4.0.0-rc1
Cinemagoer
